html,
body {
  height: 100%;
}

body {
  background: #00afe9;
  align-self: center;
	text-align: center;
}
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  color: #fff;
}

.bubbles {
display: inline-block;
font-family: arial;
position: relative;
}

.bubbles h1 {
position: relative;
margin: 1em 0 0;
font-family: 'Chewy', cursive;
font-weight: 400;
font-size: 4em;
text-shadow: 2px 2px #d5f0f2;
color: #fff;
z-index: 2;
}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 10px;
background-color: #fff;
z-index: 1;
}

p{
  font-family: 'Raleway', sans-serif;
}

/* Button resets and style */
button {
	margin: 15px auto;
	font-family: 'Chewy', cursive;
  text-shadow: 2px 2px #d5f0f2;
  font-weight: 400;
	font-size: 20px;
	color: #00afe9;
	cursor: pointer;
	border-radius: 100px;
	padding: 15px 20px;
	border: 0px solid #000;
  background: white;
	}

/* Initiate Auto-Pulse animations */
button.pulse-button {
	animation: borderPulse 1000ms infinite ease-out, colorShift 10000ms infinite ease-in;
}

/* Initiate color change for pulse-on-hover */
button.pulse-button-hover {
	animation: colorShift 10000ms infinite ease-in;
}

/* Continue animation and add shine on hover */
button:hover,
button:focus {
	animation: borderPulse 1000ms infinite ease-out, colorShift 10000ms infinite ease-in, hoverShine 200ms;
}


/* Declare border pulse animation */
@keyframes borderPulse {
  0% {
    box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255,.4), 0px 0px 0px 0px rgba(255,255,255,1);
  }
  100% {
    box-shadow: inset 0px 0px 0px 3px rgba(117, 117, 255,.2), 0px 0px 0px 10px rgba(255,255,255,0);
  }
}

/* Declare shine on hover animation */
@keyframes hoverShine {
	0%{
		background-image: linear-gradient(135deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	}
	50%{
		background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 50%, rgba(255,255,255,0) 100%);
	}
	100%{
		background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,.4) 100%);
	}
}

a:link {color: #00afe9}
a:visited {color: #00afe9}
a:link {
    text-decoration: none;
}
a:hover {
    color: #d5f0f2;
    text-shadow: 2px 2px white;
}

a:link.resources {
  color: #006ec9;
  font-weight: bold;
}
a:visited.resources {
  color: #006ec9;
  font-weight: bold;
}

a:hover.resources {
  text-shadow: none;
}
